/* your code */
table {
  border-collapse: collapse;
  width: 50%;
  margin: 40px auto;
  background-color: #f9f9f9;
}
thead {
  background-color: #4a90e2;
  color: white;
}
th, td {
  border: 2px solid #4a90e2;
  padding: 10px 20px;
  text-align: center;
}
tr:nth-child(even) td {
  background-color: #e9e9e9;
}
